@model IEnumerable<SchoolModel.Entities.Student>
@{
    ViewData["Title"] = "lista studenti";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Email</th>
            <th scope="col">Phone number</th>
            <th scope="col">SSN</th>
            <th scope="col">Address</th>
            <th scope="col">Student code</th>
            <th scope="col">Is employee</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var s in Model)
            {
            <tr>
                <td>@s.Firstname</td>
                <td>@s.Lastname</td>
                <td>@s.Email</td>
                <td>@s.PhoneNumber</td>
                <td>@s.SSN</td>
                <td>@s.Address</td>
                <td>@s.StudentCode</td>
                <td>@s.IsEmployee</td>                
            </tr>
            }
        </tbody>
    </table>
    @*@foreach (var s in Model)
    {
        <label>nome: </label> @s.Firstname
        <label>cognome: </label> @s.Lastname
    }*@
    </div>
